html, body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}
.container {
    max-width: 970px;
    margin: 0 auto;
}
.menu {
    max-width: 496px;
    margin: 0 auto;
    list-style: none;
    padding-left: 0;
}
nav {
    padding-bottom: 25px;
}
.menu__item{
    display: inline-block;
    width: calc(20% - 4px);
    text-align: center;
    cursor: pointer;
}
.menu__item:hover {
    font-weight: bold;
}
a {
    color: rgba(130, 130, 130, 1);
}
.menu__item:first-child .menu__link {
    color: black;
}
.menu__link {
    text-decoration: none;
    font-size: 18px;
}
main, footer  {
    color: black;
    text-align: center;
}
hr {
    margin-bottom: 12px;
}
h1 {
    text-align: left;
    margin: 0 auto;
    font-size: 48px;
    margin-bottom: 50px;
}
.container {
    margin: 0 auto;
    max-width: 60%;
}
.banner {
    width: 100%;
    vertical-align: bottom;
}
h2 {
    margin: 0 auto 50px auto;
    font-size: 34px;
    padding-top: 100px;
}
.h2_auxiliary {
    margin: 0 auto 20px auto;
}
.about_me_paragraph {
    margin-bottom: 30px;
}
.about_me {
    background-color: #E5E5E5;
    width: 100%;
    padding-bottom: 100px;
}
.background_gray__container {
    background-color: #E5E5E5;
    margin: 0 auto;
    max-width: 100%;
}
p {
    margin: 0 auto;
    font-size: 18px;
} 
.skills_paragraph {
    padding-top: 20px;
    padding-bottom: 50px;
}
.skills_list {
    display: flex;
    gap: 96px;
    padding-bottom: 100px;
}
figure {
    margin: 0 auto;
    display: inline-block;
}
figcaption {
    margin: 0 auto;
    padding-top: 25px;
    font-size: 14px;
    color: #828282;
    font-weight: bold;
    padding-bottom: 60px;
}
.stars {
    display: flex;
    justify-content: center;
    gap: 5px;
}
.portfolio_paragraph {
    padding-top: 40px;
    padding-bottom: 70px;
}
button {
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 10px 16px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 30px;
    cursor: pointer;
}
button:hover {
    background-color: gray;
}
button.hover_underline {
    border: none;
    position: relative;
}
button.hover_underline::after,
button.hover_underline::before {
    content: '';
    position: absolute;
    width: 80%;
    height: 2px;
    left: 10%;
    background: linear-gradient(to right, #ff0000, #00ffff);
    transform: scaleX(0);
    transition: transform 0.4s;
}
button.hover_underline::after {
    bottom: -5px;
    transform-origin: right;
}
button.hover_underline::before {
    top: -5px;
    transform-origin: left;
    background: linear-gradient(to left, #ff0000, #00ffff); 
}
button.hover_underline:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}
button.hover_underline:hover::before {
    transform: scaleX(1);
    transform-origin: right;
}
.social_networks {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.social_networks img:hover {
    opacity: 50%;
}
.contacts_paragraph {
    color: #828282;
    font-size: 14px;
    margin-top: 60px;
    margin-bottom: 100px;
}
.portfolio img {
    width: 100%;
}